.container.furioso{
    &{
    background-color: rgb(0, 0, 0);
    transition: background-color 0.3s ease;
    }

    .box-chat{
        & a{
            color: rgba(27, 27, 27, 0.932);
        }
        & a:hover{
            color: rgb(0, 0, 0);
        }
    }
    

    .message{
        &.bot{
            background: linear-gradient(90deg ,#bfa14c, #f5e6b3, #bfa14c);
            background-size: 300% 100%;
            background-position: 0% 50%;
            color: black;
            animation: shine 4s linear infinite alternate;
        }
        &.user{
            background-color: rgb(0, 0, 0);
            color: #bfa14c;
        }
        &.fanatic{
            text-align: center;
            width: 100%;
            max-width: 90%;
            background: none;
            background-color: transparent;
            color: rgba(255, 255, 255, 0.247);
        }
    }

    #typing{
        color: #bfa14c;
    }

    .box-info{
        &{
        background-color: rgba(238, 238, 238, 0.212);
        color: rgba(218, 218, 218, 0.521);
        }
        & .info-tip{
            color: #bfa14c;
        }
    }

    .box-user{
        & input{
            color: rgb(218, 218, 218);
        }
    }
    & button{
        background-color: transparent;
        color: rgba(218, 218, 218, 0.521);
    }

    & button:hover{
        transform: scale(1.1) rotate(-40deg);
        color: #bfa14c;
    }

}

@keyframes shine {
    0%{
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes blink {
    0%{
        content: '.';
    }
    50%{
        content: '..';
    }
    100%{
        content: '...';
    }
}