/* HOMEPAGE */
@media screen and (max-width: 600px) {
    .home-content{
        margin: 0px 30px;
    }

    .home-content{
        & h2{
            font-size: 1.4rem;
        }
        & h3{
            font-size: 1rem;
            margin-bottom: 0;
            padding-bottom: 5px;
        }
    }

    .content-messages{
        & h4{
            margin: 0px 10px;
            font-size: .95rem;
        }

        & .content-link{
            margin-top: 10px;
            width: 17rem;
            height: 8ch;
            font-size: .9rem;
        }

        & p{
            font-size: 13px;
        }
    }

    .home-botface{
        & img{
            height: 170px;
        }
    }

    footer{
        display: none;
    }
}


@media screen and (min-width: 600px) and (max-width: 768px){

.home-content{
    & h2{
        font-size: 1.3rem;
    }
    & h3{
        font-size: 1rem;
    }
}

.content-messages{
    & h4{
        font-size: .95rem;
        margin: 0px 40px;
    }
    & .content-link{
        width: 21rem;
        height: 3.7ch;
        font-size: 1.6ch;
    }
    & p{
        font-size: 14px;
    }
}

}

/* CHATBOT */
@media screen and (max-width: 600px), screen and (max-height: 600px) and (orientation: landscape) {
    html, body{
        height: 100vh;
    }

    .container{
        background-color: rgb(12, 12, 12);
    }
    .box-title{
        & {
        background-color: rgb(22, 22, 22);
        height: 7ch;
        width: 75vw;
        border-radius: 15px 15px 0px 0px;
        border: 1px solid rgba(255, 255, 255, 0.400);
        }
        & .title{
            height: 2.7ch;
            padding-top: 5px;
        }
        & h1{
            font-size: 22px;
        }
        & .logo{
            height: 25px;
            margin-right: 3px;
        }
    }

    .box-chat{
        background-color: rgb(22, 22, 22);
        width: 75vw;
        padding: 30px;
        height: 55vh;
        overflow-y: auto;
        scroll-behavior: smooth;
        border: 1px solid rgba(255, 255, 255, 0.400);
        & a{
            color: rgba(255, 255, 255, 0.774);
        }
        & a:hover{
            color: white;
        }
    }

    .message{
        border-radius: 8px;
        font-size: 14px;
        line-height: 18px;
        margin: 0;
        padding: 8px 12px;
        &.bot{
            background-color: rgb(7, 7, 7);
            color: rgba(255, 255, 255, 0.774);
        }
        &.user{
            background-color: rgb(31, 31, 31);
            color: rgba(255, 255, 255, 0.774);
        }
        &.success{
            background-color: rgb(204, 233, 204);
            color: green;
        }
        &.error{
            background-color: rgb(238, 209, 209);
            color: red;
        }
    }

    .box-user{
        border: 1px solid rgba(255, 255, 255, 0.400);
        border-radius: 0px 0px 15px 15px;
        width: 75vw;
        background-color: rgb(22, 22, 22);
        padding: 0px 30px;
        margin: 1px 0px;
        & input {
            font-size: 16px;
            width: 75vw;
            color: rgb(230, 230, 230);
        }
        & button{
            height: 35px;
            width: 40px;
            background-color: rgb(230, 230, 230);
            color: rgb(22, 22, 22);
        }
        & button:hover{
            color: rgb(7, 7, 7);
            transform: scale(1) rotate(-40deg);
        }
    }

    .btn-help{
        background-color: transparent;
        border: none;
        color: rgb(230, 230, 230);
        margin-top: 15px;
    }

    .box-info{
        background-color: white;
        position: absolute;
        bottom: 200px;
    }

    .box-back{
        position: absolute;
        top: 5px;
        cursor: pointer;
        & .box-link{
            background-color: rgba(46, 46, 46, 0.822);
            height: 30px;
            width: 40px;
        }
        & span{
            font-size: 15px;
        }
    }

    .box-link:hover{
        background-color: rgb(65, 65, 65);
    }

    footer {
        display: none;
    }
}

@media screen and (max-height: 600px) and (orientation: landscape){

    /* HOMEPAGE */
    .home-content{
        &{
            margin-left: 170px;
            margin-right: 20px;
            height: calc(100vh - 80px - 30px);
        }
        & h3{
            margin-bottom: 15px;
        }
    }

    .home-botface img{
        position: absolute;
        height: 170px;
        left: 15%;
        top: 60%;
        transform: translate(-60%, -55%);
    }

    .content-title{
        width: 450px;
    }

    .content-messages{
        & h4{
            margin: 0 40px;
        }
        & .content-link{
            margin-top: 10px; 
        }
    }

    /* CHATBOT */
    .box-chat{
        height: 35vh;
    }

    .box-user{
        height: 4ch;
        & button{
            height: 30px;
            width: 35px;
        }
    }

    .box-back{
        top: auto;
        left: 7px;
    }

    footer{
    & {
        display: none;
        /*border-top: 1px solid rgba(146, 146, 146, 0.377);
        width: 100vw;
        color: rgba(146, 146, 146, 0.377);
        font-size: 13px;
        padding-top: 2px;
        bottom: 2px;*/ 
        }
    }
}